<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="XenoCantoApiKey" value="1be407176fa98ff92acfc2ec67eeda832674521c" />
  </appSettings>
  <connectionStrings>
    <!-- Live SmarterASP.NET Database Connection -->
    <add name="AviLearnDB" connectionString="Data Source=sql8006.site4now.net;Initial Catalog=db_acf00f_avilearn;User Id=db_acf00f_avilearn_admin;Password=Deuja123@#;Encrypt=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    
    <!-- Forms Authentication Configuration -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" defaultUrl="~/Dashboard.aspx" />
    </authentication>
    
    <!-- Custom Errors -->
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

  <!-- Authorization rules for Admin folder -->
  <location path="Admin">
    <system.web>
      <authorization>
        <!-- Deny anonymous users; Role checking is handled in Page_Load of admin pages -->
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>
